*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../writing-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
}

#app a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}