.story-details {
    width: 95%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.story-details-header {
    display: flex;
    justify-content: space-between;
    color: rgb(132 132 132);
    padding: 0 20px;
    border-bottom: 1px solid rgb(91 138 118);
}

.story-details-header h1 {
    max-width: 400px;
    font-size: 30px;
    margin: 0;
    overflow-wrap: break-word;
}

.story-details-header-likes {
    display: flex;
    align-items: baseline;
}

.story-details .fa-heart {
    color: salmon;
    margin-right: 5px;
}

.story-details-content {
    display: flex;
    height: 400px;
}

.story-details-content article {
    font-size: 18px;
    color: rgb(132 132 132);
    border: none;
}

.story-details-content-image {
    flex-basis: 20%;
}

.story-details-content-image img {
    width: 100%;
}

.story-details-content-text {
    flex-basis: 60%;
    text-align: left;
    overflow-y: scroll;
    padding: 20px;
}

.story-details-contributers {
    color: rgb(132 132 132);
    border-top: 1px solid rgb(91 138 118);
    flex-basis: 20%;
}

#contributors, #contributors tr, #contributors th, #contributors td, #proposals, #proposals tr, #proposals th, #proposals td {
    background-color: transparent;
}

.story-details-contributers h3 {
    text-align: center;
    color: rgb(138 104 60);
}

.story-details-cta-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.story-details-proposals {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.story-details-proposals .el-table td {
    padding: 0px;
}

.story-details-proposals-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-details-proposals-heading h2 {
    color: rgb(132 132 132);
    font-size: 36px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 10px 0 0;
}

.story-details-proposals-heading button {
    font-size: 24px;
    font-weight: bold;
}

.table-likes {
    display: flex;
    align-items: baseline;
}

.proposials-table-textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: auto;
}

.buttons-cta {
    display: flex;
    justify-content: space-between;
}